# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime
.env
.env.*
!.env.example

# build output
dist/
build/
.next/
out/

# coverage
coverage/

# OS / editor files
.DS_Store
.vscode/
.idea/

# cache
.cache/
.eslintcache

# optional
.vercel/